<h1>Log In</h1>

<form action="<%=session_url%>" method="post">

  <label>Username: 
    <input type='text' name='users[username]' value=''>
  </label>
  <br>
  <br>

  <label>Password: 
    <input type='password' name='users[password]' value=''>
  </label>
  <br>
  <br>

  <input type='submit' value='Log In'>
</form>
