<h1>Sign up</h1>
<form action="<%=users_url%>" method="post">

  <label>Username: 
    <input type='text' name='users[username]' value=''>
  </label>
  <br>
  <br>

  <label>Password: 
    <input type='password' name='users[password]' value=''>
  </label>
  <br>
  <br>

  <input type='submit' value='Sign Up'>
</form>